body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
} 
.content-block {
    width: 1110px;
    margin-left: auto;
    margin-right: auto;
}
.header {
    padding-top: 79px;
    padding-bottom: 141px;
    background-color: #EEEFF1;
}

.nav {
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 0.1em;
    margin-bottom: 162px;
}

.nav li {
    display: inline-block;
    margin-right: 42px;
}

.nav li>a {
    color: #000;
    text-decoration: none;
}

.nav li>a:hover {
    color: #34547A;
}

.top-heading {
    font-weight: 500;
    font-style: normal;
    font-size: 48px;
    margin-bottom: 60px;
}

.description {
    width: 540px;
    line-height: 26px;
    margin-bottom: 65px;
}

.button-link {
    display: inline-block;
    color: #fff;
    letter-spacing: 0.1em;   
    background-color: #34547A;
    padding: 19px 41px 20px;
}

.about-me {
    padding-top: 112px;
    padding-bottom: 100px;
}

.title {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 50px;
}

.center {
    text-align: center;
}

.description.center {
    margin-right: auto;
    margin-left: auto;
}

.nowrap {
    white-space: nowrap;
}

.projects {
    background-color: #34547A;
    padding-top: 100px;
    padding-bottom: 100px;
}

.card-img {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-image: url("pro.png");   
}

.card-text {
    display: inline-block;
}

.card-title {
    font-weight: 500;
    font-size: 21px;
}

.card-description {

}
